default:
  JWT_VERIFY_SIGNATURE: True
  IMAP_SERVER:
    host: imap.yandex.ru
    port: 993
    user: gis-robot@***
    password: *****
  SECRET_KEY: jwt_public_key
  DOCVIEWER_API: "http://localhost:5002"
  REDIS:
    HOST: localhost
    PORT: 6379
    DB: 0
    EXPIRATION_SECONDS: 2592000 # 30 дней (30 * 24 * 60 * 60) срок хранения кэша в секундах
#    EXPIRATION_SECONDS: 31536000 # 365 дней 365 * 24 * 60 * 60)
